 <div style="text-align: center;">
    <h1>How to call API</h1>
    <table border="1px solid black">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>UserName</th>
            <th>Website</th>
            <th>Company</th>
            <th>Address</th>
        </tr>
        <tr *ngFor="let user of userdata$ | async">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.username}}</td>
            <td>{{user.website}}</td>
            <td>{{user.company.name}},
                {{user.company.catchPhrase}},
                {{user.company.bs}}
            </td>
            <td>{{user.address.street}},
                {{user.address.suite}},
                {{user.address.city}},
                {{user.address.zipcode}},
                {{user.address.geo.lat}},
                {{user.address.geo.lng}},
            </td>
        </tr>
    </table>
</div>