<div>
    <h1>Welcome To Tutorials Website.</h1> 
    
    <div class="col-md-2">
        <h1>Contact Form</h1>
        <form #contactForm="ngForm" action="" class="form" (ngSubmit)="formSubmit(contactForm)">
            <div class="form-group">
                <input type="text" class="form-control" name="yourname" placeholder="Enter Your Name" ngModel>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="email" placeholder="Enter Your Email" ngModel>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="mobile" placeholder="Enter Your Mobile" ngModel>
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-success" name="Send">
            </div>
        </form>
    </div>
</div>
<!-- <router-outlet></router-outlet> -->
