<div>
    <!-- <h1>Welcome to Angular Tutorial</h1> -->
    <!-- <app-login></app-login>
    <app-register></app-register> -->
    <!-- <h2>{{title | uppercase}}</h2> -->
    <!-- <app-login></app-login>
    <app-register></app-register> -->
    <!-- <button (click)="myEvent(text)">Click for Event</button>
    <br>
    <br>
    Keyup:<input type="text" #txtId (keyup)="myKeyUpEvent(txtId.value)"/>
    <br><br>
    Keyup Enter:<input type="text" #txtId1 (keyup.enter)="myKeyUpEvent(txtId1.value)"/>
    <br>
    <br>
    RealTime Data binding:<input type="text" (keyup)="myRealTimeEvent($event)"/>
    <h2>{{textfromtarget}}</h2> -->
    <!-- <h4 (mouseover)="mouseOver()">Hover on me </h4> -->
    <!-- RealTime Data binding using ng-Model Binding:<input type="text" [(ngModel)]="textfromtargetNgModule"/>
    <h2>{{textfromtargetNgModule}}</h2> -->
    <!-- Using interpolation<p>{{textForPropertyBinding}}</p> -->
    <!-- Propert Binding Concept -->
    <!-- <p [innerHTML]="textForPropertyBinding"></p>
    <img [src]="website.imageUrl" alt="">
    <br><br> -->
    <!-- <img bind-src="website.imageUrl" alt="">
    <br><br>
    <img src="{{website.imageUrl}}" alt=""> -->
    
    <!-- Component Property Binding/parent component to Child component data transfer using @Input() -->
    <!-- <app-login [loginPanel]="website.loginPanel"></app-login>
    <br> -->

    <!-- Array and Complex Array -->
    <!-- <ul *ngFor="let car of car.Ford">
        <li>{{car}}</li>
    </ul>
    ---------
    <ul *ngFor="let car of car.Chevy">
        <li>{{car}}</li>
    </ul>
    ----------------
    <table>
        <tr *ngFor="let car of Myarray">
            <td>{{car.name}}</td>
            <td>{{car.Age}}</td>
            <td>{{car.Car}}</td>
        </tr>
    </table> -->

    <!-- ngIF directive -->

    <!-- <div *ngIf="isloggedIn then loggedin else notloggedin">
    </div>
    <ng-template #loggedin>
        <h2>Welcome...</h2>
    </ng-template>
    
    <ng-template #notloggedin>
        <h2>Kindly click on Loging checkbox</h2>
    </ng-template>
    <input type="checkbox" [(ngModel)] = "isChecked" (change)="doSomething();"> Login    
    <br>
    <button (click)="Login()">Login</button> -->

    <!-- ngSwitch Case and Default -->
    <!-- <select (change)="GetSelectedValue($event)">
        <option>Select Color</option>
        <option value="Red">Red</option>
        <option value="Blue">Blue</option>
        <option value="Green">Green</option>
    </select>
    
    <div [ngSwitch]="getSelectedColor">
        <h1 *ngSwitchCase="'Red'" style="color: red">This Is Red</h1>
        <h1 *ngSwitchCase="'Blue'" style="color: blue">This Is Blue</h1>
        <h1 *ngSwitchCase="'Green'" style="color: green">This Is Green</h1>
        <h3 *ngSwitchDefault>Plz Select Color</h3>
    </div> -->

    <!-- Pipes -->
    <!-- <div *ngFor="let item of Price">{{item | currency:"USD":true:"1.2-3"}}</div>
    <h3>{{website.imageUrl| uppercase | slice:0.100}}</h3> -->

    <!-- Custome Pipe -->
    <!-- <table>
        <tr *ngFor="let car of Myarray">
            <td>{{car.name | salutationPipe:car.Gender}}</td>
            <td>{{car.Gender}}</td>
            <td>{{car.Age}}</td>
            <td>{{car.Car}}</td>
        </tr>
    </table>  -->

    <!-- JSON Pipe -->
    <!-- <h1>{{Myarray  | json | uppercase }}</h1> -->

    <!-- Routing -->
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
    &nbsp;
    <a routerLink="/login" routerLinkActive="active">Login</a>
    &nbsp;
    <a routerLink="/signup" routerLinkActive="active">Signup</a>
    &nbsp;
    <a routerLink="/profile" routerLinkActive="active">Profile</a>
    &nbsp;
    <a routerLink="/about" routerLinkActive="active">About</a>
    &nbsp;
    <button (click)="redirect()">Click</button>
    <router-outlet>
    </router-outlet>
</div>